#Document retrieval from wikipedia data

#Fire up GraphLab Create

In [1]:
import pandas as pd

#Load some text data - from wikipedia, pages on people

In [2]:
people = pd.read_csv('people_wiki.csv')

Data contains:  link to wikipedia article, name of person, text of article.

In [3]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [4]:
len(people)

59071

#Explore the dataset and checkout the text it contains

##Exploring the entry for president Obama

In [5]:
obama = people[people['name'] == 'Barack Obama']

In [6]:
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [7]:
obama['text']

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

##Exploring the entry for actor George Clooney

In [8]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

38514    george timothy clooney born may 6 1961 is an a...
Name: text, dtype: object

In [9]:
John = people[people['name'] == 'Elton John']
John['text']

19923    sir elton hercules john cbe born reginald kenn...
Name: text, dtype: object

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
x_John = vectorizer.fit_transform(John['text'])

In [11]:
print(vectorizer.get_feature_names())
print(x_John.toarray())

['10', '100', '1947', '1967', '19702000', '1976', '1980s', '1988', '1992', '1994', '1996', '1997', '1998', '200', '2002', '2004', '2005', '2008', '2012he', '2013', '2014', '21', '25', '27', '30', '300', '31', '33', '40', '49', '58', 'abbey', 'about', 'academy', 'actor', 'after', 'against', 'aids', 'albums', 'all', 'alltime', 'an', 'and', 'announced', 'annual', 'artist', 'artists', 'as', 'at', 'authors', 'award', 'awards', 'be', 'became', 'become', 'been', 'began', 'bernie', 'bestselling', 'billboard', 'bisexual', 'born', 'brit', 'british', 'brits', 'buckingham', 'career', 'cbe', 'center', 'champion', 'charitable', 'civil', 'collaborated', 'commander', 'composer', 'composers', 'concert', 'consecutive', 'continues', 'contribution', 'copies', 'culture', 'datein', 'david', 'december', 'diamond', 'diana', 'disney', 'dwight', 'elizabeth', 'elton', 'empire', 'england', 'english', 'entered', 'era', 'established', 'events', 'fame', 'fellow', 'fifty', 'fight', 'film', 'first', 'five', 'fivedecade', 'for', 'foundation', 'four', 'from', 'funeral', 'furnish', 'gay', 'globe', 'golden', 'grammy', 'had', 'hall', 'has', 'have', 'having', 'he', 'heavily', 'hercules', 'highestprofile', 'him', 'his', 'hits', 'hollywood', 'honors', 'hosting', 'hot', 'icon', 'ii', 'impact', 'in', 'inception', 'including', 'inducted', 'inductee', 'industry', 'influential', 'into', 'involved', 'is', 'its', 'john', 'jubilee', 'kennedy', 'kenneth', 'knighthood', 'lasting', 'late', 'later', 'least', 'legal', 'legend', 'lgbt', 'list', 'look', 'lyricist', 'making', 'male', 'march', 'marriage', 'million', 'more', 'most', 'movements', 'music', 'musicians', 'named', 'nine', 'no', 'number', 'occasional', 'of', 'on', 'one', 'openly', 'order', 'oscar', 'outside', 'outstanding', 'over', 'overallelton', 'palace', 'parties', 'partner', 'partnership', 'party', 'performed', 'pianist', 'princess', 'producer', 'queens', 'raised', 'ranked', 'received', 'record', 'records', 'reginald', 'rock', 'roll', 'rolling', 'royal', 'samesex', 'services', 'seven', 'since', 'singer', 'single', 'singles', 'sir', 'six', 'social', 'sold', 'solo', 'something', 'song', 'songwriter', 'songwriters', 'stone', 'successful', 'such', 'taupin', 'than', 'the', 'they', 'third', 'time', 'to', 'tonightcandle', 'tony', 'top', 'two', 'us', 'was', 'way', 'wed', 'westminster', 'which', 'who', 'wind', 'winning', 'with', 'worked', 'world', 'worldwide', 'year', 'years', 'you']
[[ 1  3  1  1  1  1  1  1  1  1  1  2  1  1  1  2  1  1  1  1  1  2  1  1
   1  1  1  1  2  1  1  1  1  3  1  1  1  2  2  1  1  3 15  1  1  1  2  2
   4  1  5  3  1  1  1  3  1  1  2  4  1  1  1  3  1  1  1  1  1  1  1  1
   1  1  1  1  1  2  1  1  1  1  1  1  2  1  1  1  1  1  3  1  1  1  1  1
   1  1  2  1  1  1  1  1  1  1  5  2  1  1  1  2  2  1  1  1  1  2  9  1
   1  7  1  1  1  3  4  1  1  1  1  2  1  1  1 18  1  1  1  1  1  1  3  1
   4  2  7  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  3  3  1
   1  3  1  1  1  3  2  1 13  6  3  1  1  1  1  1  2  1  2  1  1  1  2  1
   1  1  1  1  1  2  2  1  1  1  2  2  1  1  1  2  1  5  1  2  1  1  1  1
   2  1  1  1  2  2  1  1  1  1  3 27  1  1  1  4  1  1  4  1  1  2  1  1
   1  1  1  1  1  2  1  1  2  1  1  1]]

In [12]:
word_John = vectorizer.get_feature_names()

In [13]:
word_count = x_John.toarray().tolist()
word_count

[[1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  3,
  15,
  1,
  1,
  1,
  2,
  2,
  4,
  1,
  5,
  3,
  1,
  1,
  1,
  3,
  1,
  1,
  2,
  4,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5,
  2,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  2,
  9,
  1,
  1,
  7,
  1,
  1,
  1,
  3,
  4,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  18,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  4,
  2,
  7,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  3,
  3,
  1,
  1,
  3,
  1,
  1,
  1,
  3,
  2,
  1,
  13,
  6,
  3,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  2,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  2,
  1,
  5,
  1,
  2,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  3,
  27,
  1,
  1,
  1,
  4,
  1,
  1,
  4,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  2,
  1,
  1,
  1]]

In [14]:
word_count_flat = [item for sublist in word_count for item in sublist]
word_count_flat

[1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 3,
 15,
 1,
 1,
 1,
 2,
 2,
 4,
 1,
 5,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 4,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 9,
 1,
 1,
 7,
 1,
 1,
 1,
 3,
 4,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 18,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 4,
 2,
 7,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 3,
 1,
 1,
 3,
 1,
 1,
 1,
 3,
 2,
 1,
 13,
 6,
 3,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 5,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 3,
 27,
 1,
 1,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1]

In [15]:
word_count_John = pd.DataFrame({
    'word_John':word_John,
    'word_count':word_count_flat
})
word_count_John.sort_values(by='word_count', ascending = False)

    word_John  word_count
227       the          27
135        in          18
42        and          15
176        of          13
118       has           9
..        ...         ...
97     events           1
99     fellow           1
100     fifty           1
101     fight           1
251       you           1

[252 rows x 2 columns]

Now, take a particular famous person, 'Elton John'. What are the 3 words in his articles with highest word counts?

In [16]:
print('answer: the 3 words in his articles with highest word counts are the, in, and')

answer: the 3 words in his articles with highest word counts are the, in, and

What are the 3 words in his articles with highest TF-IDF? These results illustrate why TF-IDF is useful for finding important words.

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer()
tfidf_matrix = vect.fit_transform(people['text'])

In [18]:
feature_names = vect.get_feature_names()

In [19]:
doc = 19923
feature_index = tfidf_matrix[doc,:].nonzero()[1]
tfidf_scores = zip(feature_index, [tfidf_matrix[doc, x] for x in feature_index])
zip_tfidf = [(feature_names[i], s) for (i, s) in tfidf_scores]

In [20]:
word_J=[]
iftdf_J=[]

In [21]:
for w, s in zip_tfidf:
    print (w, s)
    word_J.append(w)
    iftdf_J.append(s)

born 0.0114446620388
10 0.0299210128946
is 0.0370944586439
who 0.0172354295563
with 0.0217030447694
the 0.243683519642
and 0.135466848611
in 0.162595996979
his 0.0455770540841
for 0.0484096393012
career 0.0208010726553
he 0.0766491986164
was 0.0194812295335
at 0.0438699572157
of 0.117804768048
21 0.0685311083362
to 0.0377921655163
its 0.0485065094311
third 0.0302359776449
as 0.0203440133075
five 0.0290007380745
time 0.0209843212545
first 0.0153016611804
against 0.0271440546664
2002 0.0259481204733
david 0.0311439798616
2005 0.0238471144667
2008 0.0226454300697
from 0.0116753120578
2013 0.0266622403258
since 0.110788984467
2014 0.0289436170264
has 0.116021248853
after 0.0175465933049
an 0.0351473228856
worked 0.023047491549
december 0.0541701725618
had 0.0196496394066
on 0.0641314931149
be 0.0217144711825
have 0.0220342443231
later 0.0219238370418
they 0.026163933793
singer 0.0341263703744
been 0.0535358730007
years 0.0187279291486
seven 0.0342155988848
award 0.118768226902
year 0.0211379736992
which 0.0159498257088
influential 0.0427576762986
english 0.0292329079641
about 0.0264091236941
number 0.0563645284111
into 0.0705255581215
authors 0.0480057909197
including 0.0200995167431
us 0.0264596040898
him 0.0697275440348
one 0.0522780884735
1998 0.0276928621776
all 0.0238518529278
fifty 0.0551787351268
two 0.01894131184
2004 0.048556130424
30 0.0327264490317
record 0.0284517466128
1996 0.0282978808615
making 0.0335924815337
solo 0.0346388544815
most 0.021826117241
records 0.0331945660114
1980s 0.035813738593
1988 0.031128043511
began 0.0246129810931
awards 0.0889039352138
than 0.0829772157932
march 0.0266881632129
music 0.0756075305184
producer 0.032627728916
artist 0.0309684706566
film 0.0273710158312
culture 0.0372935019118
world 0.021393000956
song 0.0349145110033
collaborated 0.0429654414205
rock 0.071169480515
parties 0.0495825064343
sold 0.078525363863
over 0.0449011698105
successful 0.0332012416859
artists 0.0672361785734
john 0.188957947089
1947 0.0429195823076
nine 0.038462580674
four 0.026369359349
raised 0.0366317312532
received 0.0458367082721
become 0.0315518190675
more 0.0723857578453
no 0.0919474674112
27 0.0370925664957
hits 0.0425797246393
1997 0.05648748408
roll 0.100705655519
continues 0.0392018820941
top 0.118180525485
1994 0.0292157158988
rolling 0.0526848379263
stone 0.0481097198865
named 0.0273430584611
outstanding 0.0395594619155
tony 0.0415462195388
british 0.0876600325369
civil 0.0390219023619
1992 0.0295867939626
entered 0.0391932297455
party 0.0605329581332
industry 0.0357073245333
queens 0.0453239307098
events 0.036657813349
social 0.0326927208023
order 0.0343309122172
such 0.0249367218271
way 0.035813738593
musicians 0.0411348265733
fellow 0.0303569823927
england 0.0329077750479
winning 0.0308287686199
consecutive 0.0861157294959
lasting 0.0622585696589
inducted 0.0416990352127
hall 0.0656098635649
fame 0.0723184826476
composer 0.0381606282338
composers 0.0477790352996
performed 0.031861149542
center 0.0304829253001
services 0.0725298001868
became 0.0210269653643
25 0.0338113083408
six 0.0311670488321
outside 0.0419831547567
list 0.0372550480912
31 0.0387543693248
hollywood 0.0442326220517
partner 0.0399271053761
single 0.0701549194752
golden 0.0416705400868
royal 0.0343410094478
academy 0.0908332274112
songwriter 0.0843593374657
disney 0.0514773873353
you 0.0353247190095
fight 0.0475906739115
alltime 0.0486604508898
foundation 0.0670367935519
legal 0.0399224161586
marriage 0.0923084863792
globe 0.0464199649821
involved 0.0331546153362
100 0.107593287662
1976 0.0335345509273
look 0.0478464657419
hot 0.0919932964876
announced 0.033728330228
late 0.0304500435043
worldwide 0.0812887256437
having 0.0311174348904
inception 0.0576486754725
lyricist 0.0599166371173
albums 0.0725610860288
commander 0.0460150466169
1967 0.0362181333682
honors 0.0433067830692
ii 0.0388704403639
wed 0.0712220698457
concert 0.0406342116409
billboard 0.192207335484
male 0.0485256644227
singles 0.0427448484373
copies 0.0496236199399
elizabeth 0.0455135621144
legend 0.0492998399609
40 0.0810465916902
actor 0.0357161446014
ranked 0.0869996514003
sir 0.0447218059978
elton 0.18468593871
grammy 0.0458870388128
million 0.108766582019
partnership 0.0465558187136
established 0.0367794333863
pianist 0.0457877197636
wind 0.0528797569267
impact 0.0454874674489
heavily 0.0503826605102
empire 0.0483808848648
kennedy 0.0476346418371
something 0.04756877002
33 0.051017026747
champion 0.0376873303202
oscar 0.052160451488
occasional 0.0520699351938
annual 0.0400119306376
kenneth 0.0523071929143
bestselling 0.100945510182
200 0.0437829673211
gay 0.0964062336552
hosting 0.0523814682215
lgbt 0.0594151526149
cbe 0.0563728876011
icon 0.0580240353927
aids 0.110613485862
diamond 0.0543765784189
movements 0.0543998672032
least 0.0473847027139
era 0.0432320604838
300 0.0501031539326
bernie 0.0632590379172
58 0.0580589460702
charitable 0.0544700963426
contribution 0.0450965189845
westminster 0.0565783299437
buckingham 0.0686259120736
palace 0.106565397614
jubilee 0.0599597130888
knighthood 0.0720072952187
49 0.0569417776739
princess 0.0544700963426
samesex 0.0622030347213
inductee 0.0657520585795
brit 0.0666121756593
funeral 0.0623144484683
openly 0.054636121504
bisexual 0.069576727393
abbey 0.0603569390202
dwight 0.0670750668077
2012he 0.0655894523987
songwriters 0.119492720777
diana 0.0576821612211
reginald 0.0700925477188
hercules 0.0748811487127
datein 0.0820872006712
furnish 0.18122079791
highestprofile 0.087391621991
brits 0.084355162316
taupin 0.0936468586301
fivedecade 0.0982567528165
19702000 0.0982567528165
tonightcandle 0.101915831684
overallelton 0.101915831684

In [22]:
tfidf_John=pd.DataFrame({
    'word_John':word_J,
    'iftdf_J':iftdf_J
})
tfidf_John.sort_values(by='iftdf_J', ascending=False)

     word_John   iftdf_J
5          the  0.243684
178  billboard  0.192207
92        john  0.188958
188      elton  0.184686
244    furnish  0.181221
..         ...       ...
3          who  0.017235
49       which  0.015950
22       first  0.015302
28        from  0.011675
0         born  0.011445

[252 rows x 2 columns]

In [23]:
print('answer: the 3 words in his articles with highest TF-IDF are the, billboard, john')

answer: the 3 words in his articles with highest TF-IDF are the, billboard, john

What’s the cosine distance between the articles on ‘Elton John’ and ‘Victoria Beckham’?

In [24]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(people['text'])
print (tfidf_matrix.shape)

(59071, 548429)

In [25]:
tfidf_matrix

<59071x548429 sparse matrix of type '<class 'numpy.float64'>'
	with 10244028 stored elements in Compressed Sparse Row format>

In [26]:
people.shape

(59071, 3)

In [27]:
people[people['name']=='Elton John']

,URI,name,text
19923,<http://dbpedia.org/resource/Elton_John>,Elton John,sir elton hercules john cbe born reginald kenn...

In [28]:
people[people['name']=='Victoria Beckham']

,URI,name,text
50411,<http://dbpedia.org/resource/Victoria_Beckham>,Victoria Beckham,victoria caroline beckham ne adams born 17 apr...

In [29]:
John_id = people[people['name'] == 'Elton John'].index
Beckham_id = people[people['name'] == 'Victoria Beckham'].index
John_id

Int64Index([19923], dtype='int64')

In [30]:
def norm(x):
    sum_sq=x.dot(x.T)
    norm=np.sqrt(sum_sq)
    return(norm)

In [31]:
import numpy as np
def cosine_distance(x, y):
    xy = x.dot(y.T)
    dist = xy/(norm(x)*norm(y))
    return 1-dist[0,0]

John_tf_idf = tfidf_matrix[19923,:]
Beckham_tf_idf = tfidf_matrix[50411,:]


print ('================= Cosine distance from John')
print ('answer:cosine distance between the articles on ‘Elton John’ and ‘Victoria Beckham’',cosine_distance(John_tf_idf, Beckham_tf_idf))

================= Cosine distance from John
answer:cosine distance between the articles on ‘Elton John’ and ‘Victoria Beckham’ 0.851921181383

What’s the cosine distance between the articles on ‘Elton John’ and Paul McCartney’?

In [32]:
people[people['name'] == 'Paul McCartney'].index

Int64Index([53028], dtype='int64')

In [33]:
McCartney_tf_idf = tfidf_matrix[53028,:]

In [34]:
print ('answer:cosine distance between the articles on Elton John and Paul McCartney', cosine_distance(John_tf_idf, McCartney_tf_idf))

answer:cosine distance between the articles on Elton John and Paul McCartney 0.692313247869

Building nearest neighbors models with different input features and setting the distance metric: In the sample notebook, we built a nearest neighbors model for retrieving articles using TF-IDF as features and using the default setting in the construction of the nearest neighbors model. Now, you will build two nearest neighbors models:

Using word counts as features
Using TF-IDF as features

In both of these models, we are going to set the distance function to cosine similarity. Here is how: when you call the function

In [35]:
# Using word counts and cosine
from sklearn.neighbors import NearestNeighbors
x = CountVectorizer().fit_transform(people['text'])

In [36]:
model_count = NearestNeighbors(metric='cosine')
model_count.fit(x)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?

In [39]:
distances, indices = model_count.kneighbors(x[19923], n_neighbors=2) # 1st arg: word count vector

In [40]:
distances, indices

(array([[  2.44249065e-15,   1.68779169e-01]]), array([[19923, 41668]]))

In [41]:
neighbors_John = pd.DataFrame({'distance':distances[0].tolist(), 'id':indices[0].tolist()})

In [42]:
neighbors_John

       distance     id
0  2.442491e-15  19923
1  1.687792e-01  41668

In [46]:
people.iloc[41668]['name']

'Cliff Richard'

In [47]:
print('answer: the most similar article to Elton John using word count is Cliff Richard')

answer: the most similar article to Elton John using word count is Cliff Richard

What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?

In [48]:
model_tf_idf = NearestNeighbors(metric='cosine')
model_tf_idf.fit(tfidf_matrix)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [58]:
distances, indices = model_tf_idf.kneighbors(tfidf_matrix[19923,:], n_neighbors=2)

In [59]:
neighbors_John_tf = pd.DataFrame({'distance':distances[0].tolist(), 'id':indices[0].tolist()})
neighbors_John_tf

   distance     id
0  0.000000  19923
1  0.589361  28825

In [61]:
print('answer: the most similar article to Elton John using tf idf is', people.iloc[28825]['name'])

answer: the most similar article to Elton John using tf idf is Rod Stewart

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?

In [63]:
people[people['name']=='Victoria Beckham'].index

Int64Index([50411], dtype='int64')

In [64]:
distances, indices = model_count.kneighbors(x[50411], n_neighbors=2) # 1st arg: word count vector
neighbors_Beckham = pd.DataFrame({'distance':distances[0].tolist(), 'id':indices[0].tolist()})
neighbors_Beckham

       distance     id
0  3.330669e-16  50411
1  2.115428e-01    669

In [65]:
print('answer: the most similar article to Beckham using word count is', people.iloc[669]['name'])

answer: the most similar article to Beckham using word count is Mary Fitzgerald (artist)

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?

In [66]:
distances, indices = model_tf_idf.kneighbors(tfidf_matrix[50411,:], n_neighbors=2)
neighbors_Beckham_tf = pd.DataFrame({'distance':distances[0].tolist(), 'id':indices[0].tolist()})
neighbors_Beckham_tf

   distance     id
0  0.000000  50411
1  0.546477  23386

In [67]:
print('answer: the most similar article to Beckham using word count is', people.iloc[23386]['name'])

answer: the most similar article to Beckham using word count is David Beckham